body {
    background-color: black;
}


img {
    width: 100%;
    border: 5px solid white;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
